$text-color-dark: #000;
$text-color-light: #fff;
$icon-color: #916019;
$color-primary: #916000;
$color-secondary: #AC8A46;
$gray-01: #707070;
$gray-02: #8D8D8D;
$gray-03: #E0E0E0;
$gray-04: #E6E6E6;
$margin-xs: 4px; 
$margin-s: 8px; 
$margin-m: 16px; 
$margin-l: 52px; 
$margin-xl: 60px; 

